<div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Edit Record</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="Placeholder" id="name" type="text" class="validate">
                            <label for="name">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="phone" placeholder="Placeholder" type="tel" class="validate">
                            <label for="phone">Phone</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">signal_cellular_4_bar</i>
                            <input id="dtmf" placeholder="Placeholder" type="number" class="validate">
                            <label for="dtmf">DTFM</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Update</a>
        </div>
    </div>