h1 {
    font-size: 1.5em;
    margin: 10px;
}


header {
    width: 100%;
    height: 100px;
    color: white;
    margin-top: 0;
    text-align: center;
    font-size: x-large;
    background-color: #2f3640;
}


header h1 {
    margin: 0;
    padding-top: 20px;
}

input[type=text]:not(.browser-default) {
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #cecfd2;
    border-radius: 5px;
    border-color:#2f3640
}

h5 {
    font-size: 2.5rem;
}

