<div class="row">

        <div class='col s12 m4 l5'></div>
        <div class='col s12 m4 l2'>
            <h3>Add Item</h3>
            <!-- Form to enter a product -->
            <form method="post" class="login-form">
    
                <label for="pro"><b>Product Name:</b></label>
                <input type="text" placeholder="Enter Item Name" name="itemName" id="itemName" required>
    
                <label for="des"><b>Description:</b></label>
                <input type="text" placeholder="Enter Description" name="Description" id="Description" required>
    
                <label for="pri"><b>Price:</b></label>
                <input type="text" placeholder="Enter Price" name="price" id="price" required>
    
                <label for="sto"><b>Stock:</b></label>
                <input type="text" placeholder="Enter Stock" name="stock" id="stock" required>
    
                <label for="cat"><b>Category:</b></label>
                <input type="text" placeholder="Enter Category" name="category" id="category" required>
    
                <button class="btn waves-effect waves-light" type="submit">Create</button>
    
    
    
                <button class="btn waves-effect waves-light" type="button"
                    onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    
            </form>
        
        </div>
        <div class='col s12 m4 l5'></div>
    </div>