<div class="row">

    <div class='col s12 m4 l5'></div>
    <div class='col s12 m4 l3'>

        <!-- Form to enter a product -->
        <form method="post" class="update-form">

            <div class="browser-default">
                <label>
                    <h4>Product Edit</h4>
                </label>
                <select class="browser-default" id="dropDown">
                    {{!-- {{#each products}}
                    <option id={{this.dataValues.category.category_name}}>
                        {{this.dataValues.category.category_name}}
                    </option>
                    {{/each}} --}}
                    <option value="" disabled selected>Categories</option>
                    <option value="1">PCs</option>
                    <option value="2">Monitors</option>
                    <option value="3">Laptops</option>
                    <option value="4">Servers</option>
                    <option value="5">Misc.</option>
                    <option value="6">Switches</option>
                    <option value="7">Tablets</option>
                </select>
            </div>
            <p>
                <span class="output"></span>
            </p>

            <label for="pro"><b>TAG#:</b></label>
            <input type="text" placeholder="Enter Item TAG#" name="itemName" id="tagNum" required>

            <label for="pro"><b>Product Name:</b></label>
            <input type="text" placeholder="Enter Item Name" name="itemName" id="itemName" required>

            <label for="des"><b>Description:</b></label>
            <input type="text" placeholder="Enter Description" name="Description" id="Description" required>

            <label for="pri"><b>Price:</b></label>
            <input type="text" placeholder="Enter Price" name="price" id="price" required>

            <label for="sto"><b>Stock:</b></label>
            <input type="text" placeholder="Enter Stock" name="stock" id="stock" required>

            <button class="btn waves-effect waves-light createForm" style="background-color:#03a9f4"
                type="submit">Create</button>

            <button class="btn waves-effect waves-light delForm" style="background-color:#d50000" type="button"
                class="delbtn">Delete</button>

            <button class="btn waves-effect waves-light updateForm" style="background-color:#4caf50;"
                type="button">Update</button>

            <button class="btn waves-effect waves-light" type="button" class="cancelbtn" id="cancel">Cancel</button>
        </form>

    </div>

</div>

{{!-- <div class="row">

    <div class='col s12 m4 l5'></div>
    <div class='col s12 m4 l2'>

        <label>
            <h4>Category Edit</h4>
        </label>

        <label for="pro"><b>Category Name:</b></label>
        <input type="text" placeholder="Enter Category Name" name="itemName" id="itemName" required>


        <button class="btn waves-effect waves-light" type="submit">Create</button>
        <button class="btn waves-effect waves-light" type="button" class="updatebtnCat">Update</button>
        <button class="btn waves-effect waves-light" type="button" class="delbtnCat">Delete</button>

        <button class="btn waves-effect waves-light" type="button" class="cancelbtn" id="cancelCat">Cancel</button>
        </form>

    </div> --}}



    <script src="/javascript/crud.js"></script>